.container.ball{
  .ball {
    position: absolute;
    max-width: 100%;
    width: 768px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: -1;
    &.center{
      transform: translateX(-50%) translateY(-50%);
    }
    &.centerX{
      transform: translateX(-50%);
    }
    @media screen and (max-width: 800px) {
      width: 100%;
      opacity: 0.8!important;
      height: 400px!important;
    }
  }
}